<link rel="stylesheet" href="css/bootstrap.css">
<link rel="icon" href="img/favicon.icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/f8a557bca4.js"></script>
<title>Exemplo Node.js</title>